apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
spec:
  replicas: 3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: realtime
spec:
  replicas: 3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: customer-web
spec:
  replicas: 3
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin-web
spec:
  replicas: 2
